!!!
%html
  %head
  %body
  .wrapper
    .main__chat
      .main__group
        .main__group__name
          test
        .main__group__member
          Member:メンバー名
        .main__group__editbtn
          Edit

      .messages
        .messages__info
          %p.list__name
            name1
          %p.list__time
            2020/04/27(Mon) 17:00:00
        .list__message
          message1
        .messages__info
          %p.list__name
            name2
          %p.list__time
            2020/04/27(Mon) 18:00:00
        .list__message
          message2

      .main__form
        .main__form__text
          %input{class: "main__form__text__input", placeholder: "type a message ", type: "text"}/
          %label{class: "main__form__text__image"}
            = icon('far', 'fa-image')
            %input{class:"main__form__text__file", type: "file"}
            %i.far.fa-image
        .main__form__sendbtn
          %input{class: "main__form__sendbtn__input", type: "send", name: "commit", value: "Send"}/